* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header { 
    background-color: #2f3540;
    padding: 16px 0;
    color: #f5f5f5;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left:20px;

}
 header li a {
    color: #f5f5f5;
    text-decoration: none;
 }

.container {
    width: 1366px;
    margin: 0 auto;
}


.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    width: 100%;
}

.article article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.article article {
    margin-bottom: 16px;
}

section h2 {
    font-size: 32px;
}

.article article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.article article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.article article a:hover {
    text-decoration: underline;
}

.article article p,
.article article a {
    font-family: Arial, Helvetica, sans-serif;
}

#sports {
    background-color: rgba(0, 255, 0, 10%)
}

#sports .article article a {
    background-color: rgba(0, 100, 0, 75%);
}

#economy {
    background-color: #fbfad5;
}

#economy .article article a {
    background-color: #ff9f1a;
}

#tecnologia {
    background-color: #e4cffd;
}

#tecnologia .article article a {
    background-color: #6746a3;
}

#entretenimento {
    background-color: rgb(224, 239, 248);
}

#entretenimento .article article a {
    background-color: #019cbb;
}